In [12]:
from insightface.app import FaceAnalysis
from insightface.data import get_image as ins_get_image
import cv2

In [18]:
model_pack_name = 'buffalo_l'
app = FaceAnalysis(name=model_pack_name)

/home/hq/anaconda3/envs/au_localization_py311/lib/python3.11/site-packages/onnxruntime/capi/onnxruntime_inference_collection.py:118: UserWarning: Specified provider 'CUDAExecutionProvider' is not in available provider names.Available providers: 'AzureExecutionProvider, CPUExecutionProvider'
  warnings.warn(

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: /home/hq/.insightface/models/buffalo_l/1k3d68.onnx landmark_3d_68 ['None', 3, 192, 192] 0.0 1.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: /home/hq/.insightface/models/buffalo_l/2d106det.onnx landmark_2d_106 ['None', 3, 192, 192] 0.0 1.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: /home/hq/.insightface/models/buffalo_l/det_10g.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: /home/hq/.insightface/models/buffalo_l/genderage.onnx genderage ['None', 3, 96, 96] 0.0 1.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: /home/hq/.insightface/models/buffalo_l/w600k_r50.onnx recognition ['None', 3, 112, 112] 127.5 127.5

In [52]:
img = '0.jpg'
img = 'Selection_052.png'
# img = 'smile.jpg'
# img = 'manface1.png'

In [53]:
app.prepare(ctx_id=0, det_size=(640, 640))
# img = ins_get_image(img)
img = cv2.imread(img)
faces = app.get(img)

set det-size: (640, 640)
warning: det_size is already set in detection model, ignore

/home/hq/anaconda3/envs/au_localization_py311/lib/python3.11/site-packages/insightface/utils/transform.py:68: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  P = np.linalg.lstsq(X_homo, Y)[0].T # Affine matrix. 3 x 4

In [56]:
faces[0].age

50

In [57]:
faces[0].keys()

dict_keys(['bbox', 'kps', 'det_score', 'landmark_3d_68', 'pose', 'landmark_2d_106', 'gender', 'age', 'embedding'])

In [54]:
img.shape

(386, 344, 3)

In [64]:
import pandas as pd
import numpy as np
path = '/home/hq/Documents/data/4DMicro/4DME_Labelling_Micro_release v1.xlsx'
df = pd.read_excel(path)

In [65]:
a, a_counts = np.unique(df['sub_ID'].values, return_counts=True)

In [66]:
a

array(['S08', 'S09', 'S10', 'S12', 'S13', 'S14', 'S16', 'S17', 'S18',
       'S20', 'S21', 'S22', 'S24', 'S25', 'S27', 'S30', 'S31', 'S33',
       'S34', 'S36', 'S37', 'S38', 'S41', 'S42', 'S43', 'S45', 'S46',
       'S49', 'S50', 'S51', 'S52', 'S53', 'S55', 'S56', 'S57', 'S58',
       'S59', 'S60', 'S61', 'S63', 'S64', 'S65'], dtype=object)

In [67]:
a_counts

array([ 6,  3,  5,  5,  3, 17, 15,  3,  6,  5,  1,  1,  5, 13,  6,  8,  9,
        3,  3,  3,  1,  1,  1, 14,  1,  4,  2, 21,  8,  3,  1, 25,  7,  3,
        2,  4,  2, 18, 11,  3,  3, 12])

In [85]:
data_excel = '/home/hq/Documents/data/SAMM_4DME_annotation_race.xlsx'
excel_df = pd.read_excel(data_excel)
samm_df = excel_df.loc[excel_df['Dataset'] == 'SAMM']
fourd_df = excel_df.loc[excel_df['Dataset'] == '4DME']
samm_df['Ethnic_Concised'] = samm_df['Ethnic'].apply(lambda x: 'Asian' if x == 'Asian' else 'Non-Asian')
fourd_df['Ethnic_Concised'] = fourd_df['Ethnic'].apply(lambda x: 'Asian' if x == 'Asian' else 'Non-Asian')

samm_annotations = '/home/hq/Documents/data/SAMM/SAMM_annotation.xlsx'
fourd_annotations = '/home/hq/Documents/data/4DMicro/4DME_Labelling_Micro_release v1.xlsx'
samm_annotations = pd.read_excel(samm_annotations)
fourd_annotations = pd.read_excel(fourd_annotations)

samm_annotations['Subject'] = samm_annotations['Subject'].astype(str).str.zfill(3)

/tmp/ipykernel_2820809/2535267934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samm_df['Ethnic_Concised'] = samm_df['Ethnic'].apply(lambda x: 'Asian' if x == 'Asian' else 'Non-Asian')
/tmp/ipykernel_2820809/2535267934.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fourd_df['Ethnic_Concised'] = fourd_df['Ethnic'].apply(lambda x: 'Asian' if x == 'Asian' else 'Non-Asian')

In [87]:
# Join the two DataFrames on the Subject column
merged_df = pd.merge(samm_annotations, samm_df[['Subject', 'Ethnic_Concised']], on='Subject', how='left')

In [129]:
merged_df

,Subject,Filename,Code,Onset,Apex Frame,Offset,Duration,Micro,Action Units,Estimated Emotion,Objective Classes,Notes,Age,Gender,Race,RaceConcised,EstimatedEmotionConcised
0,006,006_1_2,1,5562,5588,5632,71,Micro - 1/2,4+7,Anger,3,NaN,2,0,0,Non-Asian,Negative
1,006,006_1_3,1,3912,3948,3988,77,Micro - 1/2,4,Anger,3,While blinking,2,0,0,Non-Asian,Negative
2,006,006_1_4,1,2324,2368,2403,80,Micro - 1/2,4+7,Anger,3,NaN,2,0,0,Non-Asian,Negative
3,006,006_1_5,1,5343,5388,5424,82,Micro - 1/2,4+7,Anger,3,NaN,2,0,0,Non-Asian,Negative
4,006,006_1_6,1,7160,7197,7259,100,Micro - 1/2,4+7+43,Anger,7,Double AU4,2,0,0,Non-Asian,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,035,035_7_2,7,823,855,918,96,Micro - 1/2,R14A or 17A or 24A,Contempt,7,NaN,4,1,2,Asian,Negative
155,036,036_7_3,7,2264,2339,2363,100,Micro - 1/2,R10A+25+26,Disgust,4,Stays with 25+26 and eye movement,3,0,3,Asian,Negative
156,037,037_3_1,3,3306,3342,3382,77,Micro - 1/2,24,Other,7,NaN,3,0,2,Asian,Other
157,037,037_3_2,3,3196,3214,3295,100,Micro - 1/2,T23,Anger,3,NaN,3,0,2,Asian,Negative
158,037,037_4_1,4,1488,1529,1577,90,Micro - 1/2,24,Other,7,NaN,3,0,2,Asian,Other

In [89]:
# Create a crosstab to analyze the distribution between Estimated Emotion and Ethnic_Concised
emotion_ethnic_distribution = pd.crosstab(merged_df['Estimated Emotion'], merged_df['Ethnic_Concised'])

# Display the crosstab
print(emotion_ethnic_distribution)

Ethnic_Concised    Asian  Non-Asian
Estimated Emotion
Anger                 19         38
Contempt               4          8
Disgust                3          6
Fear                   2          6
Happiness              1         25
Other                 13         13
Sadness                3          3
Surprise               3         12

In [93]:
ethnic_labelled_df = pd.read_csv('results_ethnic_selected.csv')
# ethnic_labelled_df = pd.read_csv('results.csv')

In [94]:
ethnic_labelled_df

    Subject  Filename  Age  Gender  Race
0         6   006_1_2    2       0     0
1         7   007_3_1    2       0     0
2         9   009_2_1    2       1     0
3        10   010_2_1    3       1     0
4        11   011_1_4    1       1     0
5        12   012_3_1    2       1     4
6        13  013_1_10    3       0     0
7        14   014_1_1    3       1     0
8        15   015_5_1    3       1     0
9        16   016_7_1    5       1     0
10       17   017_3_1    4       0     4
11       18   018_1_4    6       1     0
12       19   019_3_2    4       0     0
13       20   020_1_1    1       1     0
14       21   021_7_1    3       0     0
15       22   022_2_3    3       1     0
16       23   023_1_1    5       1     0
17       24   024_2_1    2       0     4
18       25   025_4_1    2       0     2
19       26   026_1_1    3       0     2
20       28   028_4_1    1       0     2
21       30   030_5_1    4       1     1
22       31   031_3_1    1       0     1
23       32   032_3_3    3       0     3
24       33   033_1_3    2       1     2
25       34   034_7_3    4       1     4
26       35   035_1_1    4       1     2
27       36   036_7_3    3       0     3
28       37   037_4_1    3       0     2

In [99]:
samm_annotations

,Subject,Filename,Code,Onset,Apex Frame,Offset,Duration,Micro,Action Units,Estimated Emotion,Objective Classes,Notes
0,006,006_1_2,1,5562,5588,5632,71,Micro - 1/2,4+7,Anger,3,NaN
1,006,006_1_3,1,3912,3948,3988,77,Micro - 1/2,4,Anger,3,While blinking
2,006,006_1_4,1,2324,2368,2403,80,Micro - 1/2,4+7,Anger,3,NaN
3,006,006_1_5,1,5343,5388,5424,82,Micro - 1/2,4+7,Anger,3,NaN
4,006,006_1_6,1,7160,7197,7259,100,Micro - 1/2,4+7+43,Anger,7,Double AU4
...,...,...,...,...,...,...,...,...,...,...,...,...
154,035,035_7_2,7,823,855,918,96,Micro - 1/2,R14A or 17A or 24A,Contempt,7,NaN
155,036,036_7_3,7,2264,2339,2363,100,Micro - 1/2,R10A+25+26,Disgust,4,Stays with 25+26 and eye movement
156,037,037_3_1,3,3306,3342,3382,77,Micro - 1/2,24,Other,7,NaN
157,037,037_3_2,3,3196,3214,3295,100,Micro - 1/2,T23,Anger,3,NaN
158,037,037_4_1,4,1488,1529,1577,90,Micro - 1/2,24,Other,7,NaN

In [120]:
def categorize_emotion(emotion):
    if emotion == 'Happiness':
        return 'Positive'
    elif emotion == 'Surprise':
        return 'Surprise'
    elif emotion == 'Other':
        return 'Other'
    else:
        return 'Negative'

In [121]:
# Join the two DataFrames on the Subject column
ethnic_labelled_df['RaceConcised'] = ethnic_labelled_df['Race'].apply(lambda x: 'Asian' if x >= 2 else 'Non-Asian')
ethnic_labelled_df['Subject'] = ethnic_labelled_df['Subject'].astype(str).str.zfill(3)
merged_df = pd.merge(samm_annotations, ethnic_labelled_df[['Subject', 'Age', 'Gender', 'Race', 'RaceConcised']], on='Subject', how='left')
merged_df['EstimatedEmotionConcised'] = merged_df['Estimated Emotion'].apply(categorize_emotion)

In [122]:
merged_df.to_csv('MetaEmotionConcised.csv', index=False)

In [123]:
merged_df.to_excel('MetaEmotionConcised.xlsx', index=False)

In [116]:
merged_df

,Subject,Filename,Code,Onset,Apex Frame,Offset,Duration,Micro,Action Units,Estimated Emotion,Objective Classes,Notes,Age,Gender,Race,RaceConcised,EstimatedEmotionConcised
0,006,006_1_2,1,5562,5588,5632,71,Micro - 1/2,4+7,Anger,3,NaN,2,0,0,Non-Asian,Negative
1,006,006_1_3,1,3912,3948,3988,77,Micro - 1/2,4,Anger,3,While blinking,2,0,0,Non-Asian,Negative
2,006,006_1_4,1,2324,2368,2403,80,Micro - 1/2,4+7,Anger,3,NaN,2,0,0,Non-Asian,Negative
3,006,006_1_5,1,5343,5388,5424,82,Micro - 1/2,4+7,Anger,3,NaN,2,0,0,Non-Asian,Negative
4,006,006_1_6,1,7160,7197,7259,100,Micro - 1/2,4+7+43,Anger,7,Double AU4,2,0,0,Non-Asian,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,035,035_7_2,7,823,855,918,96,Micro - 1/2,R14A or 17A or 24A,Contempt,7,NaN,4,1,2,Asian,Negative
155,036,036_7_3,7,2264,2339,2363,100,Micro - 1/2,R10A+25+26,Disgust,4,Stays with 25+26 and eye movement,3,0,3,Asian,Negative
156,037,037_3_1,3,3306,3342,3382,77,Micro - 1/2,24,Other,7,NaN,3,0,2,Asian,Negative
157,037,037_3_2,3,3196,3214,3295,100,Micro - 1/2,T23,Anger,3,NaN,3,0,2,Asian,Negative
158,037,037_4_1,4,1488,1529,1577,90,Micro - 1/2,24,Other,7,NaN,3,0,2,Asian,Negative

In [117]:
# Create a crosstab to analyze the distribution between Estimated Emotion and Ethnic_Concised
emotion_ethnic_distribution = pd.crosstab(merged_df['EstimatedEmotionConcised'], merged_df['RaceConcised'])

# Display the crosstab
print(emotion_ethnic_distribution)

RaceConcised              Asian  Non-Asian
EstimatedEmotionConcised
Negative                     51         67
Positive                      1         25
Surprise                      5         10

In [111]:
# Create a crosstab to analyze the distribution between Estimated Emotion and Ethnic_Concised
emotion_ethnic_distribution = pd.crosstab(merged_df['Estimated Emotion'], merged_df['RaceConcised'])

# Display the crosstab
print(emotion_ethnic_distribution)

RaceConcised       Asian  Non-Asian
Estimated Emotion
Anger                 20         37
Contempt               6          6
Disgust                3          6
Fear                   4          4
Happiness              1         25
Other                 15         11
Sadness                3          3
Surprise               5         10

In [107]:
# Create a crosstab to analyze the distribution between Estimated Emotion and Ethnic_Concised
emotion_ethnic_distribution = pd.crosstab(merged_df['Estimated Emotion'], merged_df['Race'])

# Display the crosstab
print(emotion_ethnic_distribution)

Race                0  1   2  3  4
Estimated Emotion
Anger              33  4  13  3  4
Contempt            6  0   4  0  2
Disgust             6  0   1  1  1
Fear                4  0   2  0  2
Happiness          25  0   1  0  0
Other              11  0  11  2  2
Sadness             3  0   2  1  0
Surprise           10  0   3  0  2

In [102]:
# Create a crosstab to analyze the distribution between Estimated Emotion and Ethnic_Concised
emotion_ethnic_distribution = pd.crosstab(merged_df['Estimated Emotion'], merged_df['Age'])

# Display the crosstab
print(emotion_ethnic_distribution)

Age                1   2   3   4  5  6
Estimated Emotion
Anger              7  12  25  10  3  0
Contempt           5   0   4   3  0  0
Disgust            5   1   2   0  0  1
Fear               0   5   1   2  0  0
Happiness          9   6   9   1  1  0
Other              5   6   9   5  0  1
Sadness            0   2   2   1  0  1
Surprise           2   6   2   2  2  1

In [103]:
# Create a crosstab to analyze the distribution between Estimated Emotion and Ethnic_Concised
emotion_ethnic_distribution = pd.crosstab(merged_df['Estimated Emotion'], merged_df['Gender'])

# Display the crosstab
print(emotion_ethnic_distribution)

Gender              0   1
Estimated Emotion
Anger              27  30
Contempt            5   7
Disgust             3   6
Fear                2   6
Happiness           6  20
Other              18   8
Sadness             2   4
Surprise            7   8